*.log
pack/
plugged/
lazy-lock.json
init.vim.bak
**/packer_compiled.lua
*.swp
*.bak
*.tmp
**/.swp
**/.nvim/swap/*
**/.nvim/undo/*
**/.nvim/undodir/*
**/.vim/undo/*
**/.vim/undodir/*
.session
**/.local/share/nvim/history
**/.cache/
